<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.admin.servlet.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegister</servlet-name>
        <servlet-class>com.user.servlet.UserRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.admin.servlet.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>com.user.servlet.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddSpecialist</servlet-name>
        <servlet-class>com.admin.servlet.AddSpecialist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDoctor</servlet-name>
        <servlet-class>com.admin.servlet.AddDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDoctor</servlet-name>
        <servlet-class>com.admin.servlet.UpdateDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDoctor</servlet-name>
        <servlet-class>com.admin.servlet.DeleteDoctor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogin</servlet-name>
        <servlet-class>com.doctor.servlet.DoctorLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorLogout</servlet-name>
        <servlet-class>com.doctor.servlet.DoctorLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Appointment</servlet-name>
        <servlet-class>com.user.servlet.Appointment</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegister</servlet-name>
        <url-pattern>/UserRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddSpecialist</servlet-name>
        <url-pattern>/AddSpecialist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDoctor</servlet-name>
        <url-pattern>/AddDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDoctor</servlet-name>
        <url-pattern>/UpdateDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDoctor</servlet-name>
        <url-pattern>/DeleteDoctor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogin</servlet-name>
        <url-pattern>/DoctorLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorLogout</servlet-name>
        <url-pattern>/DoctorLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Appointment</servlet-name>
        <url-pattern>/Appointment</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
